<p id="notice"><%= notice %></p>
<h1>Customer</h1>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>
<p>
  <strong>Tax:</strong>
  <%= @customer.tax %>
</p>

<h2>Adding Contracts</h2>

<%= form_for(@contract, remote: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>

<ul id="contracts">
  <%= render "contracts" %>
</ul>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
