<!DOCTYPE html>
<html>
<head>
  <title>CustomerAccountManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1>Customer Account Management</h1>
		<hr>
	</header>

	<main>

		<div id="notice">
			<% flash.each do |name, msg| %>
  			<% if msg.is_a?(String) %>
    			<%= content_tag :div, msg, :class => "flash_#{name}" %>
  			<% end %>
			<% end %>
		</div>

		<div class="nav">
			<ul class="nav-list">
				<li>
					<% if logged_in? %> You are logged in as <%= link_to current_user.username, current_user %>
    			-- <%= link_to "Logout", logout_path, method: :delete %>
    			<% else %> <%= link_to "Log in", login_path %><% end %>
				</li>
				<li>
					<%= link_to "customer", :controller => 'customers', :action => 'index' %>
				</li>
				<li>
					<%= link_to "contract", :controller => 'contracts', :action => 'index' %>
				</li>
				<li>
					<%= link_to "product", :controller => 'products', :action => 'index' %>
				</li>
				<li>
					<%= link_to "feature", :controller => 'features', :action => 'index' %>
				</li>
				<li>
					<%= link_to "user", :controller => 'users', :action => 'index' %>
				</li>
			</ul>

			<hr>
		</div>

		<div id="content">
			<%= yield %>
		</div>
		
	</main>

	<footer>
		<hr>
		<p>&copy; 2016</p>
	</footer>

</body>
</html>
