<!DOCTYPE html>
<html>
<head>
  <title>CustomerAccountManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1>Customer Account Management</h1>
		<hr>
	</header>

	<main>

		<div class="nav">
			<ul class="nav-list">
				<li>
					<%= link_to "customer", :controller => 'customers', :action => 'index' %>
				</li>
				<li>
					<%= link_to "contract", :controller => 'contracts', :action => 'index' %>
				</li>
				<li>
					<%= link_to "product", :controller => 'products', :action => 'index' %>
				</li>
				<li>
					<%= link_to "feature", :controller => 'features', :action => 'index' %>
				</li>
				<li>
					<%= link_to "item", :controller => 'items', :action => 'index' %>
				</li>
			</ul>
			<hr>
		</div>

		<div id="content">
			<%= yield %>
		</div>
		
	</main>

	<footer>
		<hr>
		<p>&copy; 2016</p>
	</footer>

</body>
</html>
